<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

 	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>org.sarman.login.server.LoginServiceImpl</servlet-class>
	</servlet>

	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/sarm_reports/LoginService</url-pattern>
	</servlet-mapping>



	<!-- Default pages to serve -->
	<welcome-file-list>
		<welcome-file>reports.html</welcome-file>
	</welcome-file-list>

</web-app>
